{% assign cat = page.categories[0] %}
{% assign cat_list = site.categories[cat] %}
{% for post in cat_list %}
  {% assign currentIndex = forloop.index0 %}
  {% assign current_post = cat_list[currentIndex] %}
  {% if post.url == page.url %}
  	{% assign prevIndex = forloop.index0 | minus: 1 %}
  	{% assign nextIndex = forloop.index0 | plus: 1 %}
  	{% if forloop.first == false %}
  	  {% assign next_post = cat_list[prevIndex] %}
  	{% endif %}
  	{% if forloop.last == false %}
  	  {% assign prev_post = cat_list[nextIndex] %}
  	{% endif %}
  	{% break %}
  {% endif %}
{% endfor %}

{% if prev_post or next_post %}
  <nav class="pagination_prev_next">
    {% if prev_post %}
      <a href="{{ prev_post.url }}" class="pagination--pager pagination_prev_next--pager">이전 글<span class="title">{{ prev_post.title }}</span></a>
    {% else %}
      <a href="#" class="pagination--pager pagination_prev_next--pager disabled">첫 번째 글입니다<span class="title">{{ current_post.title }}</span></a>
    {% endif %}
    {% if next_post %}
      <a href="{{ next_post.url }}" class="pagination--pager pagination_prev_next--pager">다음 글<span class="title">{{ next_post.title }}</span></a>
    {% else %}
      <a href="#" class="pagination--pager pagination_prev_next--pager disabled">마지막 글입니다<span class="title">{{ current_post.title }}</span></a>
    {% endif %}
  </nav>
{% endif %}